.topnav {
  overflow: hidden;
  font-family: verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  font-weight: bold;
  color: #e4e4e4;
  background-color: #3d3dFF;
  border: 2px solid #67baff;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  width: 25%;
  max-width: 200px;
  padding: 13px 0px;
}

.dark-mode .topnav a {
  border-color: #e4e4e4;
  background-color: #3d3db0;
}

.topnav i {
  float: left;
  display: block;
  height: 52px;
  width: 250px;
}

.topnav i img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 2px;
  padding-left: 1px;
  background-color: #FFFFFF;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #67baff;
  border-color: #e4e4e4;
  color: #000000;
}

.dark-mode .topnav a:hover {
  background-color: #3d3dff;
  color: #FFFFFF
}

body {
  font-family: verdana, sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  max-width: 1000px;
  margin: 0 auto;
}

.dark-mode {
  background-color: #000000;
  color: #FFFFFF;
}

.box {
  border: 2px solid #3d3dFF;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 150%;
  border-radius: 10px;
  padding: 10px 10px;
  width: 60%;
}

.dark-mode .box {
  background-color: #3d3d3d;
  color: #FFFFFF;
}

footer {
  background-color: #3d3d3d;
  color: #e4e4e4;
  height: 60px;
  padding: 20px 20px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: #3d3d3d;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projectBox {
  border: 2px solid #3d3dFF;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-size: 150%;
  border-radius: 10px;
  padding: 10px 10px;
  max-width: 400px;
  flex: 1 1 400px;
}

.projectBox img {
  border: 2px solid #3d3d3d;
  border-radius: 7px;
}

.dark-mode .projectBox {
  background-color: #3d3d3d;
  color: #FFFFFF;
}